@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /* Adiciona isso para garantir que o body ocupe toda a altura da tela */
  margin: 0; /* Adiciona isso para remover margens padrão */
  display: flex; /* Certifique-se de que o layout é flexível */
  flex-direction: column; /* Flex-direction para coluna para garantir que o conteúdo se expanda */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
